@mixin h2-mixin {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: rgb(31, 35, 43);
  font-weight: bold;
  margin-bottom: 30px;
  line-height: 1;
}
@mixin h1-mixin {
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
}

@mixin hover {
  box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.15);
}
