<section class="address">
  <div class="container">
    <h2>{{'cardsPurchaseAddressesTextOne' | translate}}</h2>
    <div class="address-wrap">
      <div class="address-wrap-image">
        <img src="assets/images/pages/cards%20info/address.png" alt="Map">
      </div>
      <div class="address-wrap-info">
        <div class="address-wrap-info-text">
          {{'cardsPurchaseAddressesTextTwo' | translate}}
        </div>
        <a routerLink="/about/location">{{'cardsPurchaseAddressesTextThree' | translate}}</a>
      </div>
    </div>
  </div>
</section>
