<app-personal-header></app-personal-header>
<banner-product [bannerData]="banner"></banner-product>
<product-condition [conditionData]="conditionData"></product-condition>
<app-financing-calculator [loanTitle]="loanTitle" [docPeriod]="docPeriod" [tjsRate]="tjsRate" [usdRate]="usdRate"></app-financing-calculator>
<app-tab-financing [tariffTitle]="tariffTitle" [tariffs]="tariffs" [documents]="documents" [limits]="limits"></app-tab-financing>
<app-financing-form id="app-financing-form" ></app-financing-form>
<app-loan-payment></app-loan-payment>
