<section class="steps">
  <div class="container">
    <h2>{{'businessFinancingPageTextEighteen' | translate }}</h2>
    <div class="steps-wrap">
      <div class="step">
        <div class="step-number">#1</div>
        <div class="step-title">{{'businessFinancingPageTextNineteen' | translate }}</div>
        <div class="step-subtitle">{{'businessFinancingPageTextTwenty' | translate }}</div>
      </div>
      <div class="step">
        <div class="step-number">#2</div>
        <div class="step-title">{{'businessFinancingPageTextTwentyOne' | translate }}</div>
        <div class="step-subtitle">{{'businessFinancingPageTextTwentyTwo' | translate }}</div>
      </div>
      <div class="step">
        <div class="step-number">#3</div>
        <div class="step-title">{{'businessFinancingPageTextTwentyThree' | translate }}</div>
        <div class="step-subtitle">{{'businessFinancingPageTextTwentyFour' | translate }} <br>
          {{'businessFinancingPageTextTwentyFive' | translate }}
        </div>
      </div>
    </div>
  </div>
</section>
