@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/variables";

.q-and-a{
  padding-bottom: 80px;

  .container{
    h2{
      @include h2-mixin;
    }
    .q-and-a-wrap{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}
