@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/variables";


.announcement {
  padding-top: 60px;
  padding-bottom: 60px;

  .container {
    h1 {
      @include h1-mixin;
      color: #1e2332;
    }

    .first-announcement{
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      margin-bottom: 40px;

      h2{
        @include h2-mixin;
      }
      .date{
        font-family: Montserrat, sans-serif;
        font-size: 18px;
        color: #444;
        margin-bottom: 20px;
      }

      ol{
        li{
          margin-bottom: 5px;
          font-weight: 600;
        }
      }

      .new-text-sub{
        display: block;
        max-width: 160px;
      }
    }

    h2{
      @include h2-mixin;
      text-align: left;
    }

    .announcement-main-picture {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 30px;

      img {
        width: 60%;
      }
    }

    .announcement-text-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
      font-size: 20px;
      font-family: Montserrat, sans-serif;
      line-height: 1.2;

      .announcement-text-info{
        margin-bottom: 20px;
      }

      .announcement-text-contacts{
        max-width: 420px;
        margin-bottom: 20px;
        padding-top: 20px;
        border-top: 1px dashed #1e2332;
      }
    }

    .announcement-additional-picture {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 20px;

      .announcement-additional-picture-wrapper {
        max-width: 390px;

        img {
          width: 100%;
        }
      }
    }
  }
}


@media screen and (max-width: 767px) {

  .announcement {
    .container {

      .first-announcement{
        font-size: 14px;
        text-align: justify;

        h2{
          @include h2-mixin;
          text-align: left;
        }
        .date{
          font-size: 14px;
        }
      }

      .announcement-main-picture {
        img {
          width: 100%;
        }
      }

      .announcement-text-wrap {
        font-size: 16px;
      }
    }
  }



}
