<section class="announcement">
  <div class="container">
    <h1>{{'bottomAboutHeaderMenuTen' | translate}}</h1>
    <div class="announcement-main-picture">
      <img src="./assets/images/pages/announcement/main.png" alt="Main">
    </div>

    <div class="announcement-text-wrap">
      <div class="announcement-text-info">{{'announcementsTextOne' | translate}}</div>
      <div class="announcement-text-contacts"> {{'announcementsTextTwo' | translate}} ☎️</div>
    </div>

    <div class="announcement-additional-picture">
      <div class="announcement-additional-picture-wrapper">
        <img src="./assets/images/pages/announcement/a1.png" alt="First_picture">
      </div>
      <div class="announcement-additional-picture-wrapper">
        <img src="./assets/images/pages/announcement/a2.png" alt="First_picture">
      </div>
      <div class="announcement-additional-picture-wrapper">
        <img src="./assets/images/pages/announcement/a3.png" alt="First_picture">
      </div>
      <div class="announcement-additional-picture-wrapper">
        <img src="./assets/images/pages/announcement/a4.png" alt="First_picture">
      </div>
      <div class="announcement-additional-picture-wrapper">
        <img src="./assets/images/pages/announcement/a5.png" alt="First_picture">
      </div>
      <div class="announcement-additional-picture-wrapper">
        <img src="./assets/images/pages/announcement/a6.png" alt="First_picture">
      </div>
    </div>
  </div>
</section>
