<nav class="location-menu">
  <ul>
    <li><a routerLink="/o-banke/kontakty" routerLinkActive="active-tab">{{'aboutBranchesPageTextTwo' | translate}}</a></li>
    <li><a routerLink="/o-banke/atms" routerLinkActive="active-tab">{{'aboutBranchesPageTextThree' | translate}}</a></li>
    <li><a routerLink="/o-banke/terminals" routerLinkActive="active-tab">{{'aboutBranchesPageTextFour' | translate}}</a></li>
    <li><a routerLink="/o-banke/graphic" routerLinkActive="active-tab">{{'aboutBranchesPageTextFive' | translate}}</a></li>
    <li><a routerLink="/o-banke/requisites" routerLinkActive="active-tab">{{'aboutBranchesPageTextSix' | translate}}</a></li>
  </ul>
</nav>
