<nav class="location-menu">
  <ul>
    <li><a routerLink="/about/location" routerLinkActive="active-tab">{{'aboutBranchesPageTextTwo' | translate}}</a></li>
    <li><a routerLink="/about/atms" routerLinkActive="active-tab">{{'aboutBranchesPageTextThree' | translate}}</a></li>
    <li><a routerLink="/about/terminals" routerLinkActive="active-tab">{{'aboutBranchesPageTextFour' | translate}}</a></li>
    <li><a routerLink="/about/graphic" routerLinkActive="active-tab">{{'aboutBranchesPageTextFive' | translate}}</a></li>
    <li><a routerLink="/about/requisites" routerLinkActive="active-tab">{{'aboutBranchesPageTextSix' | translate}}</a></li>
  </ul>
</nav>
