<section class="about-header">
  <app-about-header></app-about-header>
</section>
<section class="banner">
  <div class="container">
    <div class="banner-wrap">
      <div class="banner-info">
        <img src="./assets/images/pages/about/logo-banner.png" alt="">
        <div class="banner-info-description">{{'aboutMainPageTextOne' | translate}}<br> {{'aboutMainPageTextTwo' | translate}}</div>
      </div>
      <img class="mandala" src="./assets/images/pages/about/mandala.png" alt="Mandala">
      <img class="bank" src="./assets/images/pages/about/banner.png" alt="Bank">
    </div>
  </div>
</section>
<section class="amount">
  <div class="container">
    <h2>{{'aboutMainPageTextThree' | translate}}</h2>
    <div class="amount-card-wrap">
      <div class="amount-card">
        <div class="amount-card-description">{{'aboutMainPageTextFour' | translate}}</div>
        <div class="amount-card-number">{{'aboutMainPageTextFive' | translate}}</div>
        <div class="amount-card-number-sub">{{'aboutMainPageTextSix' | translate}}</div>
      </div>
      <div class="amount-card">
        <div class="amount-card-description">{{'aboutMainPageTextSeven' | translate}}</div>
        <div class="amount-card-number">{{'aboutMainPageTextEight' | translate}}</div>
        <div class="amount-card-number-sub">{{'aboutMainPageTextNine' | translate}}</div>
      </div>
      <div class="amount-card">
        <div class="amount-card-description">{{'aboutMainPageTextTen' | translate}}</div>
        <div class="amount-card-number">{{'aboutMainPageTextEleven' | translate}}</div>
        <div class="amount-card-number-sub">{{'aboutMainPageTextTwelve' | translate}}</div>
      </div>
    </div>
  </div>
</section>
<section class="history">
  <div class="container">
    <div class="history-photo">
      <img src="./assets/images/pages/about/history.png" alt="Photo">
    </div>
    <div class="history-text">
      <strong>{{'aboutMainPageTextThirteen' | translate}}</strong>
      <div>
        {{'aboutMainPageTextFourteen' | translate}}
      </div>
      <br>
      <div style="text-indent: 40px">
        {{'aboutMainPageTextFifteen' | translate}}
      </div>
      <br>
      <div style="text-indent: 40px">
        {{'aboutMainPageTextSixteen' | translate}} <u> №0000104</u> {{'aboutMainPageTextSeventeen' | translate}}
      </div>
      <div class="differance-from-traditional-banks">
        <h2>{{'aboutMainPageTextSeventeenOne' | translate}}</h2>
        <div>
          {{'aboutMainPageTextSeventeenTwo' | translate}}
        </div>
        <br>
        <div>
          {{'aboutMainPageTextSeventeenThree' | translate}}
        </div>
        <br>
        <div>
          <b class="emphasis">{{'aboutMainPageTextSeventeenFour' | translate}}</b>
          {{'aboutMainPageTextSeventeenFive' | translate}}
        </div>
        <br>
        <div>
          <b class="emphasis">{{'aboutMainPageTextSeventeenSix' | translate}}</b>
          {{'aboutMainPageTextSeventeenSeven' |translate}}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="values">
  <div class="container">
    <div class="values-wrap">
      <div class="values-card">
        <div class="values-card-info">
          <div class="values-card-title">{{'aboutMainPageTextEighteen' | translate}}</div>
          <div class="values-card-subtitle">
            {{'aboutMainPageTextNineteen' | translate}}
          </div>
        </div>
        <div class="values-card-image first">
        </div>
      </div>
      <div class="values-card">
        <div class="values-card-info">
          <div class="values-card-title">{{'aboutMainPageTextTwenty' | translate}}</div>
          <div class="values-card-subtitle">
            {{'aboutMainPageTextTwentyOne' | translate}}
          </div>
        </div>
        <div class="values-card-image second">
        </div>
      </div>
      <div class="values-card">
        <div class="values-card-info">
          <div class="values-card-title">{{'aboutMainPageTextTwentyTwo' | translate}}</div>
          <div class="values-card-subtitle">{{'aboutMainPageTextTwentyThree' | translate}}</div>
          <a routerLink="/about/job">{{'aboutMainPageTextTwentyFour' | translate}}</a>
        </div>
        <div class="values-card-image third">
        </div>
      </div>
      <div class="values-card s">
        <div class="values-card-info">
          <div class="values-card-title">{{'aboutMainPageTextTwentyFive' | translate}}</div>
          <div class="values-card-subtitle">{{'aboutMainPageTextTwentySix' | translate}}</div>
          <a routerLink="/about/documents">{{'aboutMainPageTextTwentySeven' | translate}}</a>
        </div>
        <div class="values-card-image fourth">
        </div>
      </div>
      <div class="values-card s">
        <div class="values-card-info">
          <div class="values-card-title">{{'aboutMainPageTextTwentyEight' | translate}}</div>
          <a routerLink="/about/location">{{'aboutMainPageTextTwentySeven' | translate}}</a>
        </div>
        <div class="values-card-image fifth">
        </div>
      </div>
      <div class="values-card s">
        <div class="values-card-info">
          <div class="values-card-title">{{'aboutMainPageTextTwentyNine' | translate}}</div>
          <div class="values-card-subtitle">
            {{'aboutMainPageTextThirty' | translate}} <a href="tel:+992446017070" >{{'aboutMainPageTextThirtyOne' | translate}}</a>
            {{'aboutMainPageTextThirtyTwo' | translate}}
          </div>
        </div>
        <div class="values-card-image sixth">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="products">
  <div class="container">
    <h2>{{'aboutMainPageTextThirtyThree' | translate}}</h2>
    <div class="product-wrap">
      <a routerLink="/personal/financing" class="product-card">
        <div class="arrow">
          <svg width="30px" height="30px" viewBox="0 0 24.00 24.00" fill="none" xmlns="http://www.w3.org/2000/svg"
               stroke="#ffffff">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M3 12C3 4.5885 4.5885 3 12 3C19.4115 3 21 4.5885 21 12C21 19.4115 19.4115 21 12 21C4.5885 21 3 19.4115 3 12Z"
                stroke="#309799" stroke-width="1.6320000000000001"></path>
              <path d="M14.5 9.5L9 15" stroke="#309799" stroke-width="1.6320000000000001" stroke-linecap="round"
                    stroke-linejoin="round"></path>
              <path d="M10 9H14.6717C14.853 9 15 9.14703 15 9.32837V14" stroke="#309799"
                    stroke-width="1.6320000000000001" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
          </svg>
        </div>
        <div class="product-card-title">{{'aboutMainPageTextThirtyFour' | translate}}</div>
        <img src="./assets/images/pages/about/p1.png" alt="Graph">
      </a>
      <a routerLink="/personal/cards" class="product-card">
        <div class="arrow">
          <svg width="30px" height="30px" viewBox="0 0 24.00 24.00" fill="none" xmlns="http://www.w3.org/2000/svg"
               stroke="#ffffff">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M3 12C3 4.5885 4.5885 3 12 3C19.4115 3 21 4.5885 21 12C21 19.4115 19.4115 21 12 21C4.5885 21 3 19.4115 3 12Z"
                stroke="#309799" stroke-width="1.6320000000000001"></path>
              <path d="M14.5 9.5L9 15" stroke="#309799" stroke-width="1.6320000000000001" stroke-linecap="round"
                    stroke-linejoin="round"></path>
              <path d="M10 9H14.6717C14.853 9 15 9.14703 15 9.32837V14" stroke="#309799"
                    stroke-width="1.6320000000000001" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
          </svg>
        </div>
        <div class="product-card-title">{{'aboutMainPageTextThirtyFive' | translate}}</div>
        <img src="./assets/images/pages/about/p2.png" alt="Wallet" class="si">
      </a>
      <a routerLink="/personal/deposit" class="product-card">
        <div class="arrow">
          <svg width="30px" height="30px" viewBox="0 0 24.00 24.00" fill="none" xmlns="http://www.w3.org/2000/svg"
               stroke="#ffffff">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M3 12C3 4.5885 4.5885 3 12 3C19.4115 3 21 4.5885 21 12C21 19.4115 19.4115 21 12 21C4.5885 21 3 19.4115 3 12Z"
                stroke="#309799" stroke-width="1.6320000000000001"></path>
              <path d="M14.5 9.5L9 15" stroke="#309799" stroke-width="1.6320000000000001" stroke-linecap="round"
                    stroke-linejoin="round"></path>
              <path d="M10 9H14.6717C14.853 9 15 9.14703 15 9.32837V14" stroke="#309799"
                    stroke-width="1.6320000000000001" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
          </svg>
        </div>
        <div class="product-card-title">{{'aboutMainPageTextThirtySix' | translate}}</div>
        <img src="./assets/images/pages/about/p3.png" alt="Money">
      </a>
    </div>
  </div>
</section>
<app-faq></app-faq>
