<section class="condition">
  <div class="container">
    <div class="requirements-wrap">
      <div class="requirements-wrap-item" *ngFor="let data of conditionData">
        <div class="requirements-wrap-item-image">
          <img src="{{data.image}}" alt="Money">
        </div>
        <div class="requirements-wrap-item-info">
          <div class="requirements-wrap-item-info-title">{{translateText(data.title)}}</div>
          <div class="requirements-wrap-item-info-subtitle">{{translateText(data.subtitle)}}</div>
        </div>
      </div>
    </div>
  </div>
</section>
