<app-business-header></app-business-header>
<banner-product [bannerData]="banner"></banner-product>
<section class="results">
  <div class="container">
    <div class="results-wrap">
      <div class="result">
        <img src="./assets/images/pages/acquiring/r1.png" alt="Packages">
        <div class="result-info">
          <div class="result-bold">{{'businessAcquiringTextFive' | translate}}</div>
          <div class="result-description">{{'businessAcquiringTextSix' | translate}}</div>
        </div>
      </div>
      <div class="result">
        <img src="./assets/images/pages/acquiring/r2.png" alt="Hand shake">
        <div class="result-info">
          <div class="result-bold">{{'businessAcquiringTextSeven' | translate}}</div>
          <div class="result-description">{{'businessAcquiringTextEight' | translate}}</div>
        </div>
      </div>
      <div class="result">
        <img src="./assets/images/pages/acquiring/r3.png" alt="Graphic">
        <div class="result-info">
          <div class="result-bold">{{'businessAcquiringTextNine' | translate}}</div>
          <div class="result-description">{{'businessAcquiringTextTen' | translate}}</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="features">
  <div class="container">
    <h2>{{'businessAcquiringTextEleven' | translate}}</h2>
    <div class="features-wrap">
      <div class="feature-card">
        <div class="feature-card-title">{{'businessAcquiringTextTwelve' | translate}}</div>
        <ul>
          <li>{{'businessAcquiringTextThirteen' | translate}}</li>
          <li>{{'businessAcquiringTextFourteen' | translate}}</li>
          <li>{{'businessAcquiringTextFifteen' | translate}}</li>
          <li>{{'businessAcquiringTextSixteen' | translate}}</li>
        </ul>
        <img src="./assets/images/pages/acquiring/f1.png" alt="Calendar">
      </div>
      <div class="feature-card">
        <div class="feature-card-title">{{'businessAcquiringTextSeventeen' | translate}}</div>
        <ul>
          <li>{{'businessAcquiringTextEighteen' | translate}}</li>
          <li>{{'businessAcquiringTextNineteen' | translate}}</li>
          <li>{{'businessAcquiringTextTwenty' | translate}}</li>
        </ul>
        <img class="second" src="./assets/images/pages/acquiring/f2.png" alt="Mobile">
      </div>
      <div class="feature-card">
        <div class="feature-card-title">{{'businessAcquiringTextTwentyOne' | translate}}</div>
        <ul>
          <li>{{'businessAcquiringTextTwentyTwo' | translate}}</li>
          <li>{{'businessAcquiringTextTwentyThree' | translate}}</li>
          <li>{{'businessAcquiringTextTwentyFour' | translate}}</li>
          <li>{{'businessAcquiringTextTwentyFive' | translate}}</li>
        </ul>
        <img src="./assets/images/pages/acquiring/f3.png" alt="Shield">
      </div>
    </div>
  </div>
</section>
<section class="tariffs">
  <div class="container">
    <h2>{{'businessAcquiringTextTwentySix' | translate}}</h2>
    <div class="tariffs-wrap">
      <div class="tariff-card">
        <div class="tariff-card-icon">
          <svg width="40px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <g id="Interface / Shopping_Bag_01">
                <path id="Vector"
                      d="M9 8C9 9.65685 10.3431 11 12 11C13.6569 11 15 9.65685 15 8M3 16.8002V7.2002C3 6.08009 3 5.51962 3.21799 5.0918C3.40973 4.71547 3.71547 4.40973 4.0918 4.21799C4.51962 4 5.08009 4 6.2002 4H17.8002C18.9203 4 19.4796 4 19.9074 4.21799C20.2837 4.40973 20.5905 4.71547 20.7822 5.0918C21 5.5192 21 6.07899 21 7.19691V16.8036C21 17.9215 21 18.4805 20.7822 18.9079C20.5905 19.2842 20.2837 19.5905 19.9074 19.7822C19.48 20 18.921 20 17.8031 20H6.19691C5.07899 20 4.5192 20 4.0918 19.7822C3.71547 19.5905 3.40973 19.2842 3.21799 18.9079C3 18.4801 3 17.9203 3 16.8002Z"
                      stroke="#309799" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </g>
            </g>
          </svg>
        </div>
        <div class="tariff-card-title">{{'businessAcquiringTextTwentySeven' | translate}}</div>
        <div class="tariff-card-subtitle">{{'businessAcquiringTextTwentyEight' | translate}}</div>
      </div>
      <div class="tariff-card">
        <div class="tariff-card-icon">
          <svg width="40px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <g id="Interface / Shopping_Bag_01">
                <path id="Vector"
                      d="M9 8C9 9.65685 10.3431 11 12 11C13.6569 11 15 9.65685 15 8M3 16.8002V7.2002C3 6.08009 3 5.51962 3.21799 5.0918C3.40973 4.71547 3.71547 4.40973 4.0918 4.21799C4.51962 4 5.08009 4 6.2002 4H17.8002C18.9203 4 19.4796 4 19.9074 4.21799C20.2837 4.40973 20.5905 4.71547 20.7822 5.0918C21 5.5192 21 6.07899 21 7.19691V16.8036C21 17.9215 21 18.4805 20.7822 18.9079C20.5905 19.2842 20.2837 19.5905 19.9074 19.7822C19.48 20 18.921 20 17.8031 20H6.19691C5.07899 20 4.5192 20 4.0918 19.7822C3.71547 19.5905 3.40973 19.2842 3.21799 18.9079C3 18.4801 3 17.9203 3 16.8002Z"
                      stroke="#309799" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </g>
            </g>
          </svg>
        </div>
        <div class="tariff-card-title">{{'businessAcquiringTextTwentyNine' | translate}}</div>
        <div class="tariff-card-subtitle">{{'businessAcquiringTextThirty' | translate}}</div>
      </div>
      <div class="tariff-card">
        <div class="tariff-card-icon">
          <svg width="40px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <g id="Interface / Shopping_Bag_01">
                <path id="Vector"
                      d="M9 8C9 9.65685 10.3431 11 12 11C13.6569 11 15 9.65685 15 8M3 16.8002V7.2002C3 6.08009 3 5.51962 3.21799 5.0918C3.40973 4.71547 3.71547 4.40973 4.0918 4.21799C4.51962 4 5.08009 4 6.2002 4H17.8002C18.9203 4 19.4796 4 19.9074 4.21799C20.2837 4.40973 20.5905 4.71547 20.7822 5.0918C21 5.5192 21 6.07899 21 7.19691V16.8036C21 17.9215 21 18.4805 20.7822 18.9079C20.5905 19.2842 20.2837 19.5905 19.9074 19.7822C19.48 20 18.921 20 17.8031 20H6.19691C5.07899 20 4.5192 20 4.0918 19.7822C3.71547 19.5905 3.40973 19.2842 3.21799 18.9079C3 18.4801 3 17.9203 3 16.8002Z"
                      stroke="#309799" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </g>
            </g>
          </svg>
        </div>
        <div class="tariff-card-title">{{'businessAcquiringTextThirtyOne' | translate}}</div>
        <div class="tariff-card-subtitle"><b>{{'businessAcquiringTextThirtyTwo' | translate}}</b> {{'businessAcquiringTextThirtyThree' | translate}}</div>
      </div>
      <div class="tariff-card">
        <div class="tariff-card-icon">
          <svg width="40px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <g id="Interface / Shopping_Bag_01">
                <path id="Vector"
                      d="M9 8C9 9.65685 10.3431 11 12 11C13.6569 11 15 9.65685 15 8M3 16.8002V7.2002C3 6.08009 3 5.51962 3.21799 5.0918C3.40973 4.71547 3.71547 4.40973 4.0918 4.21799C4.51962 4 5.08009 4 6.2002 4H17.8002C18.9203 4 19.4796 4 19.9074 4.21799C20.2837 4.40973 20.5905 4.71547 20.7822 5.0918C21 5.5192 21 6.07899 21 7.19691V16.8036C21 17.9215 21 18.4805 20.7822 18.9079C20.5905 19.2842 20.2837 19.5905 19.9074 19.7822C19.48 20 18.921 20 17.8031 20H6.19691C5.07899 20 4.5192 20 4.0918 19.7822C3.71547 19.5905 3.40973 19.2842 3.21799 18.9079C3 18.4801 3 17.9203 3 16.8002Z"
                      stroke="#309799" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </g>
            </g>
          </svg>
        </div>
        <div class="tariff-card-title">{{'businessAcquiringTextThirtyFour' | translate}}</div>
        <div class="tariff-card-subtitle">{{'businessAcquiringTextThirtyFive' | translate}}</div>
      </div>
    </div>
  </div>
</section>
<app-request-form [requestType]="requestType" id="request" [appId]="appId" [productId]="productId"></app-request-form>
<app-faq></app-faq>
