<section class="how-to-open">
  <div class="container">
    <h2>{{'depositMudarabatextTenExtraOne' | translate}}</h2>
    <div class="how-to-open-wrap">
      <img src="assets/images/pages/deposit%20info/how-to-open.png" alt="List">
      <div>
        <ul>
          <li>{{'depositMudarabatextTenExtraTwo' | translate}}<br>
            {{'depositMudarabatextTenExtraThree' | translate}} {{translateText(productName)}}.</li>
          <li>{{'depositMudarabatextTenExtraFour' | translate}}</li>
        </ul>
      </div>
    </div>
  </div>
</section>
