
<section class="news">
  <div class="container">
    <div class="news-title-links">
      <h2>{{'personalMainNewsTitle' | translate}}</h2>
      <a href="https://tawhidnews.twb.tj/" class="all-news" target="_blank">{{'personalMainAllNews' | translate}}</a>
    </div>
    <div class="news-wrap">
      <div class="news-card">
        <div class="news-card-date">13.04.2023</div>
        <div class="news-description">
          Открытый конкурс по отбору
          аудиторской компании для
          осуществления аудита за 2023 год
        </div>
        <a href="#" class="news-detail">{{'personalMainBannerData' | translate}}</a>
      </div>
      <div class="news-card">
        <div class="news-card-date">13.04.2023</div>
        <div class="news-description">
          Открытый конкурс по отбору
          аудиторской компании для
          осуществления аудита за 2023 год
        </div>
        <a href="#" class="news-detail">{{'personalMainBannerData' | translate}}</a>
      </div>
      <div class="news-card">
        <div class="news-card-date">13.04.2023</div>
        <div class="news-description">
          Открытый конкурс по отбору
          аудиторской компании для
          осуществления аудита за 2023 год
        </div>
        <a href="#" class="news-detail">{{'personalMainBannerData' | translate}}</a>
      </div>
    </div>
  </div>
</section>
