@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/variables";

.news{
  padding-top: 60px;
  padding-bottom: 80px;

  .container{
    h1{
      @include h1-mixin;
      color: #1e2332;
    }

    .news-list-wrap{
      display: flex;
      flex-direction: column;
      gap: 20px;

      .news-list-item{
        padding: 20px 20px;
        border-radius: 10px;
        background: white;
        box-shadow: 4px 4px 8px rgba(68, 68, 68, 0.3);
        display: flex;
        align-items: center;
        gap: 20px;
        cursor: pointer;

        .news-list{
          br{
            margin-right: 4px;
          }
        }

        .news-list-item-image{
          width: 150px;
          height: 150px;
          border-radius: 6px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        .news-list-item-info{
          .news-list-item-heading{
            font-size: 24px;
            font-family: Montserrat,sans-serif;
            font-weight: 600;
            margin-bottom: 10px;
          }

          .news-list-item-date{
            font-size: 18px;
            font-family: Montserrat,sans-serif;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px){

  .news{
    padding-top: 40px;
    .container{
      .news-list-wrap{
        .news-list-item{
          .news-list-item-image{
            display: none;
          }

          .news-list-item-info{
            .news-list-item-heading{
              font-size: 20px;
            }

            .news-list-item-date{
              font-size: 16px;
              font-family: Montserrat,sans-serif;
            }
          }
        }
      }
    }
  }

}
