<app-about-header></app-about-header>
<section class="graphic">
  <div class="container">
    <h1>График приёма граждан</h1>
    <app-about-navigation></app-about-navigation>
    <div class="graphic-wrap">
      <div class="graphic-wrap-row">
        <div class="graphic-branch">
          <div class="graphic-branch-title">Головной офис, Душанбе</div>
          <div class="graphic-branch-address">Адрес: 734025, г. Душанбе, ул. C.Айни 4/1</div>
        </div>
      </div>
      <div class="graphic-people">
        <app-person-graphic [peopleMain]="peopleMain"></app-person-graphic>
      </div>
    </div>
  </div>
</section>
