
<section class="faq">
  <div class="container">
    <h2>{{'personalMainAppFaqTitle' | translate}}</h2>
    <div class="faq-wrap">
      <div class="faq-card">
        <div class="faq-card-icon">
          <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g>
              <path d="M7 11.5C7 9.29086 8.79086 7.5 11 7.5H37C39.2091 7.5 41 9.29086 41 11.5V52.5C41 54.7091 39.2091 56.5 37 56.5H11C8.79086 56.5 7 54.7091 7 52.5V11.5Z" stroke="#444444" stroke-width="3"></path>
              <path d="M16 7.5V10.5H32V7.5" stroke="#444444" stroke-width="3" stroke-linecap="round"></path>
              <rect x="12" y="18" width="3" height="3" fill="#343944"></rect>
              <rect x="19" y="18" width="3" height="3" fill="#343944"></rect>
              <rect x="19" y="26" width="3" height="3" fill="#309799"></rect>
              <rect x="26" y="18" width="3" height="3" fill="#343944"></rect>
              <rect x="33" y="18" width="3" height="3" fill="#343944"></rect>
              <rect x="12" y="26" width="3" height="3" fill="#343944"></rect>
              <rect x="26" y="26" width="3" height="3" fill="#343944"></rect>
            </g>
          </svg>
        </div>
        <div class="faq-card-title">{{'personalMainAppFaqCardTextOne' |translate}}</div>
        <div class="faq-card-text">{{'personalMainAppFaqCardTextOneDescription' |translate}}</div>
        <a href="tel:+992446017070" class="button-fill">{{'personalMainAppFaqCardTextOneAction' |translate}}</a>
      </div>
      <div class="faq-card">
        <div class="faq-card-icon">
          <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g>
              <path d="M42.5 17V53.5H6.5V5.5H31M42.5 17L31 5.5M42.5 17H31V5.5" stroke="#444444" stroke-width="3"></path>
              <path d="M14 26.5H35M14 32.5H35M14 38.5H35" stroke="#309799" stroke-width="3"></path>
            </g>
          </svg>
        </div>
        <div class="faq-card-title">{{'personalMainAppFaqCardTextTwo' | translate}}</div>
        <div class="faq-card-text">{{'personalMainAppFaqCardTextTwoDescription' | translate}}<br><br></div>
        <a routerLink="/personal/questions" class="button-fill">{{'personalMainAppFaqCardTextTwoAction' | translate}}</a>
      </div>
      <div class="faq-card">
        <div class="faq-card-icon">
          <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g>
              <path d="M25 8V6.5H24.0481L23.6428 7.3613L25 8ZM28 22L26.5333 21.6857L28.1358 23.4938L28 22ZM39 21L40.3024 20.2558L39.8241 19.4189L38.8642 19.5062L39 21ZM43 28L44.4667 28.3143L44.5868 27.7536L44.3024 27.2558L43 28ZM31 8L32.4667 8.31429L31 6.5V8ZM40 42L40.6286 43.3619L41.3096 43.0476L41.4667 42.3143L40 42ZM5 25V23.5H3.5V25H5ZM18.3572 25.6387L26.3572 8.6387L23.6428 7.3613L15.6428 24.3613L18.3572 25.6387ZM28.1358 23.4938L39.1358 22.4938L38.8642 19.5062L27.8642 20.5062L28.1358 23.4938ZM37.6976 21.7442L41.6976 28.7442L44.3024 27.2558L40.3024 20.2558L37.6976 21.7442ZM25 9.5H31V6.5H25V9.5ZM29.5333 7.68571L26.5333 21.6857L29.4667 22.3143L32.4667 8.31429L29.5333 7.68571ZM41.5333 27.6857L38.5333 41.6857L41.4667 42.3143L44.4667 28.3143L41.5333 27.6857ZM39.3714 40.6381L32.8714 43.6381L34.1286 46.3619L40.6286 43.3619L39.3714 40.6381ZM5 26.5H17V23.5H5V26.5ZM15.5 25V46H18.5V25H15.5ZM6.5 46V25H3.5V46H6.5Z" fill="#343944"></path>
              <path d="M11 39.5V43.5" stroke="#309799" stroke-width="3"></path>
            </g>
          </svg>
        </div>
        <div class="faq-card-title">{{'personalMainAppFaqCardTextThree' | translate}}</div>
        <div class="faq-card-text">{{'personalMainAppFaqCardTextThreeDescription' | translate}}</div>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSeZurO_bkl2GnqIi62pGJRpy0Sj2ABkS6EDTJyIO8-SVAncFA/viewform?usp=sf_link" class="button-fill" target="_blank">{{'personalMainAppFaqCardTextThreeAction' | translate}}</a>
      </div>
    </div>
  </div>
</section>
