@import "global";
@import "variables";
@import "fonts";

ul {
  margin: 0;
  padding: 0;
}


html, body {
  height: 100%;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

button {
  margin: 0;
}

._orientationLeft_d8c5 .button_cdb9{
  left: calc(100vw - 100px);
  margin-bottom: 0 !important;
}
.wrap_ae00{
  right: 0;
}

.wrap_ae00{
  z-index: 970 !important;
  bottom: 90px !important;
}

@media screen and (max-width: 1299px) {
  .container {
    padding-inline: 30px;
  }
}

@media screen and (max-width: 1199px) {
  h1{
    font-size: 2em !important;
  }
  h2{
    font-size: 1.75em !important;
  }
  h3{
    font-size: 1.6em !important;
    font-weight: bold !important;
  }
}
@media screen and (max-width: 1023px) {
  .container {
    padding-inline: 20px;
  }
}

@media screen and (max-width: 819px) {
  .container {
    padding-inline: 10px;
  }
}

@media screen and (max-width: 767px) {
  h1{
    font-size: 1.75em !important;
  }
  h2{
    font-size: 1.6em !important;
  }
  h3{
    font-size: 1.4em !important;
  }
}

@media screen and (max-width: 499px) {
  h1{
    font-size: 1.6em !important;
  }
  h2{
    font-size: 1.4em !important;
  }
  h3{
    font-size: 1.25em !important;
  }
}

//Check Box
 .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background{
   border-color: #309799 !important;
   background-color: #309799 !important;
 }
.mdc-checkbox:active .mdc-checkbox__native-control:checked~.mdc-checkbox__ripple{
  background-color: #309799 !important;
}

.mdc-checkbox .mdc-checkbox__native-control:focus:checked~.mdc-checkbox__ripple{
  background-color: #309799 !important;
}
.mdc-checkbox__ripple{
  background-color: #309799 !important;
}

// Snack Bar
.mat-mdc-snack-bar-container {
  &.snack-bar-success {
    --mdc-snackbar-container-color: #309799;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}
.mat-mdc-snack-bar-container {
  &.snack-bar-neutral {
    --mdc-snackbar-container-color: #000;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}


.banner-temp{
  display: inline-block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #309799;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;

  .container{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .text-two{
      display: flex;
      align-items: center;

      span:first-child{
        height: 24px;
        margin-right: 5px;
      }
    }
  }

}

@media screen and (max-width: 767px){
  .mat-expansion-panel-header-title, .mat-expansion-panel-header-description{
    font-size: 1.2em !important;
  }


  .banner-temp{
    font-size: 14px;
    .container{
      .text-two{

        span:first-child{
          height: 26px;
          margin-right: 5px;
        }
      }
    }

  }
}

@media screen and (max-width: 499px){
  .mat-expansion-panel-header-title, .mat-expansion-panel-header-description{
    font-size: 1em !important;
  }

  .banner-temp{
    font-size: 14px;
    .container{
      flex-direction: column;
      .text-two{

        span:first-child{
          height: 26px;
          margin-right: 5px;
        }
      }
    }

  }
}
