<app-personal-header></app-personal-header>
<banner-product [bannerData]="banner"></banner-product>
<product-condition [conditionData]="conditionData"></product-condition>
<app-card-managements></app-card-managements>
<app-tab-cards [tariffTitle]="tariffTitle" [tariffs]="tariffs" [documents]="documents" [limits]="limits"></app-tab-cards>
<app-address></app-address>
<app-form id="form" [requestType]="requestType" [appId]="appId" [prodId]="prodId"></app-form>
<app-p-questions [questions]="questions"></app-p-questions>
